@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');

body {
		background-color: #b3e6ff;
		text-align: center;
		font-family: helvetica;
}

img {
		width: 260px;
		position: relative;
		margin: 0 auto;
		display: block;
		border-radius: 270px;
		border: 7px solid white;
		margin-top: 33px;
}

h1 {
		font-family: 'Permanent Marker';
		border: 3px dashed;
		display: inline-block;
		font-size: 44px;
		color: #ff00ff;
		text-shadow: 1px 1px;
		padding: 5px;
		margin-bottom: -15px;
}

button {
		color: #ff9966;
		background-color: #00ff99;
		border: 8px solid #ffffb3;
		font-size: 25px;
		font-family: 'Faster One'
}

h2 {
		font-size: 35px;
		margin: 0 auto;
		padding: 40px;
		color: #4d4d4d;
		text-decoration: underline;
}

p {
		margin: 0 auto;
		margin-top: -30px;
		max-width: 700px;
		font-family: helvetica;
		font-size: 16px;
		text-align: justify;
}

ul {
		list-style: none;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 8px;
}

li {
		font-family: helvetica;
}

.underline {
		text-decoration: underline;
}

.nowrap {
    	white-space: nowrap;
}	

.arensteinLaw {
		border: none;
		width: 290px;
		height: 210px;
		border-radius: 0;
		float: right;
		margin: -7px -15px -7px 0px;
		padding: 10px 15px 10px 15px;
}

.grandMarquis {
		border: none;
		width: 135px;
		height: 105px;
		border-radius: 0;
		float: left;
		margin: -15px 9px -10px 0px;
		padding: 10px 10px 10px -20px;
}

.zippah {
		border: none;
		width: 300px;
		height: 203px;
		border-radius: 0;
		float: right;
		margin: -7px -15px 0px 0px;
		padding: 14px 15px 0px 8px;
}

.rooftop {
		border: none;
		width: 290px;
		height: 210px;
		border-radius: 0;
		float: left;
		margin: -7px 3px -7px 0px;
		padding: 5px 5px 10px 0px;
}

a {
		color: #2f09ff;
		text-decoration: none;
}

a:hover {
		text-decoration: underline;
}

.signature {
		font-family: 'Kodchasan';
		font-size: 30px;
		color: #ff00ff;
}